DATABASE_URL=jdbc:postgresql://YOUR_HOST:5432/postgres?stringtype=unspecified
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=YOUR_PASSWORD
MAIL_USERNAME=YOUR_EMAIL@gmail.com
MAIL_PASSWORD=YOUR_APP_PASSWORD
JWT_SECRET=YOUR_JWT_SECRET_MIN_32_CHARS